/*CSS Reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Custom CSS classes*/

.c-w-30 {
	width: 30vw;
}

.c-h-400 {
	height: 400px ;
}

.c-h-200 {
	size: 200px;
}

.c-dimension-400x400 {
	height: 400px;
	width: 400px;
}

.f-robS {
	font-family: 'Roboto Slab', serif;
}

.f-robC {
	font-family: 'Roboto Condensed', sans-serif;
}

.mapouter {
	position:relative;
	text-align:right;
	width:100%;
	height:400px;
}
.gmap_canvas {
	overflow:hidden;
	background:none;
	width:100%;
	height:400px;
}
.gmap_iframe {
	width:400px;
	height:400px;
}

.no-overflow {
	overflow: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;    
}

.def-color {
	color: #c9d5f8;
}

/* automatic grid adjustment start */
.c-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}
/* automatic grid adjustment end */


#project-description {
	text-align: justify;
}

/*Adjust img size to fit container*/
.c-img-fit {
	width: 100%;
	object-fit: contain;

}

/*navbar css Start*/
	.hoverable {
	  display: inline-block;
	  backface-visibility: hidden;
	  vertical-align: middle;
	  position: relative;
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  tranform: translateZ(0);
	  transition-duration: 0.3s;
	  transition-property: transform;
	}

	.hoverable:before {
	  position: absolute;
	  pointer-events: none;
	  z-index: -1;
	  content: "";
	  top: 100%;
	  left: 5%;
	  height: 10px;
	  width: 90%;
	  opacity: 0;
	  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
	  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
	  /* W3C */
	  transition-duration: 0.3s;
	  transition-property: transform, opacity;
	}

	.hoverable:hover, .hoverable:active, .hoverable:focus {
	  transform: translateY(-5px);
	}

	.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
	  opacity: 1;
	  transform: translateY(-5px);
	}

	@keyframes bounce-animation {
	  16.65% {
	    -webkit-transform: translateY(8px);
	    transform: translateY(8px);
	  }
	  33.3% {
	    -webkit-transform: translateY(-6px);
	    transform: translateY(-6px);
	  }
	  49.95% {
	    -webkit-transform: translateY(4px);
	    transform: translateY(4px);
	  }
	  66.6% {
	    -webkit-transform: translateY(-2px);
	    transform: translateY(-2px);
	  }
	  83.25% {
	    -webkit-transform: translateY(1px);
	    transform: translateY(1px);
	  }
	  100% {
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	  }
	}
	.bounce {
	  animation-name: bounce-animation;
	  animation-duration: 3s;
	}


/*navbar css end*/

.stick-top {
	position: sticky;
	top: 0;
}

.c-background {
	background-image: url(./images/bg-ckt.png);
}