* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .cardHighlight {
  min-height: 30rem;
  max-height: 30rem;
}

.imgSize {
  height: 400px;
  width: 400px;
  
} */

.sticky-nav {
  position: sticky;
  padding-top:10px;
  top: 0;
  z-index: 5;
}

.buttonWidth {
  width: 3rem;
}

.buttonWidth2 {
  width: 6rem;

}

.alignCenter {
  text-align: center;
}

.colBorder-secondary {
  border: solid 1px lightslategray;
  
}

.colBg-secondary {
  background-color: lightslategray;
}

.cardHeight {
  heigh: 10rem
}